In [3]:
import pandas as pd
path = r"C:\Users\micha\Desktop\IC\NAO_IDENT_null_1988-2020_2006_2012_102142.csv"
df = pd.read_csv(path, index_col = "Código do Paciente", sep=';')

C:\Users\micha\AppData\Local\Temp\ipykernel_2028\905386055.py:3: DtypeWarning: Columns (3,6,7,8,9,10,13,14,23,24,25,27,28,29,30,31,32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, index_col = "Código do Paciente", sep=';')

In [9]:
for column in df.columns:
    if df[column].isnull().mean()*100 > 60:
        df.drop(column, axis=1, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 850405 entries, nan to nan
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Nome do RCBP                  850405 non-null  object
 1   Sexo                          850405 non-null  object
 2   Data de Nascimento            473151 non-null  object
 3   Idade                         800304 non-null  float64
 4   Raca/Cor                      850405 non-null  object
 5   Nacionalidade                 473575 non-null  object
 6   Naturalidade Estado           474732 non-null  object
 7   Grau de Instrução             478194 non-null  object
 8   Estado Civil                  475358 non-null  object
 9   Código Profissão              788193 non-null  float64
 10  Nome Profissão                788193 non-null  object
 11  Estado Endereço               813442 non-null  object
 12  Cidade Endereço               813776 non-null  object
 13  Descrição da Topografia       850405 non-null  object
 14  Código da Topografia          850405 non-null  object
 15  Descrição da Morfologia       850405 non-null  object
 16  Código da Morfologia          850405 non-null  int64
 17  Descrição da Doenca           850405 non-null  object
 18  Código da Doenca              850405 non-null  object
 19  Descrição da Doenca Infantil  345766 non-null  object
 20  Código da Doenca Infantil     345766 non-null  object
 21  Indicador de Caso Raro        488637 non-null  object
 22  Meio de Diagnostico           850405 non-null  object
 23  Extensão                      530596 non-null  object
 24  Data de Diagnostico           813776 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 168.7+ MB