In [1]:
import pandas as pd

In [3]:
path = r"C:\Users\micha\Desktop\IC\NAO_IDENT_null_1988-2020_2013_2020_102142.csv"
df = pd.read_csv(path, index_col = "Código do Paciente", sep=';')

C:\Users\micha\AppData\Local\Temp\ipykernel_17212\3616582832.py:2: DtypeWarning: Columns (3,6,7,8,9,10,25,27,28,29,30,31,32,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, index_col = "Código do Paciente", sep=';')

In [4]:
for column in df.columns:
    if df[column].isnull().mean()*100 > 60:
        df.drop(column, axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 560895 entries, nan to 745330.0
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Nome do RCBP             560895 non-null  object
 1   Sexo                     560895 non-null  object
 2   Data de Nascimento       441899 non-null  object
 3   Idade                    546559 non-null  float64
 4   Raca/Cor                 560895 non-null  object
 5   Nacionalidade            441524 non-null  object
 6   Naturalidade Estado      442146 non-null  object
 7   Naturalidade             295041 non-null  object
 8   Grau de Instrução        446777 non-null  object
 9   Estado Civil             442044 non-null  object
 10  Código Profissão         514845 non-null  float64
 11  Nome Profissão           514845 non-null  object
 12  Estado Endereço          560812 non-null  object
 13  Cidade Endereço          560895 non-null  object
 14  Descrição da Topografia  560895 non-null  object
 15  Código da Topografia     560895 non-null  object
 16  Descrição da Morfologia  560895 non-null  object
 17  Código da Morfologia     560895 non-null  int64
 18  Descrição da Doenca      560895 non-null  object
 19  Código da Doenca         560895 non-null  object
 20  Indicador de Caso Raro   447863 non-null  object
 21  Meio de Diagnostico      560895 non-null  object
 22  Extensão                 453120 non-null  object
 23  Data de Último Contato   232343 non-null  object
 24  Data de Diagnostico      560895 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 111.3+ MB