In [1]:
import pandas as pd
path = r"NAO_IDENT_null_1988-2020_2006_2012_102142.csv"
df = pd.read_csv(path, index_col = "Código do Paciente", sep=';')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10284\3676741485.py:3: DtypeWarning: Columns (3,6,7,8,9,10,13,14,23,24,25,27,28,29,30,31,32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, index_col = "Código do Paciente", sep=';')

In [2]:
df.shape

(850405, 37)

In [9]:
for column in df.columns:
    if df[column].isnull().mean()*100 > 60:
        df.drop(column, axis=1, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 850405 entries, nan to nan
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Nome do RCBP                  850405 non-null  object
 1   Sexo                          850405 non-null  object
 2   Data de Nascimento            473151 non-null  object
 3   Idade                         800304 non-null  float64
 4   Raca/Cor                      850405 non-null  object
 5   Nacionalidade                 473575 non-null  object
 6   Naturalidade Estado           474732 non-null  object
 7   Grau de Instrução             478194 non-null  object
 8   Estado Civil                  475358 non-null  object
 9   Código Profissão              788193 non-null  float64
 10  Nome Profissão                788193 non-null  object
 11  Estado Endereço               813442 non-null  object
 12  Cidade Endereço               813776 non-null  object
 13  Descrição da Topografia       850405 non-null  object
 14  Código da Topografia          850405 non-null  object
 15  Descrição da Morfologia       850405 non-null  object
 16  Código da Morfologia          850405 non-null  int64
 17  Descrição da Doenca           850405 non-null  object
 18  Código da Doenca              850405 non-null  object
 19  Descrição da Doenca Infantil  345766 non-null  object
 20  Código da Doenca Infantil     345766 non-null  object
 21  Indicador de Caso Raro        488637 non-null  object
 22  Meio de Diagnostico           850405 non-null  object
 23  Extensão                      530596 non-null  object
 24  Data de Diagnostico           813776 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 168.7+ MB

In [11]:
df['Data de Nascimento'] = pd.to_datetime(df['Data de Nascimento'], format='%d/%m/%Y', errors='coerce')
df['Data do Óbito'] = pd.to_datetime(df['Data de Nascimento'], format='%d/%m/%Y', errors='coerce')
df['Data de Último Contato'] = pd.to_datetime(df['Data de Nascimento'], format='%d/%m/%Y', errors='coerce')
df['Data de Diagnostico'] = pd.to_datetime(df['Data de Nascimento'], format='%d/%m/%Y', errors='coerce')

In [16]:
df['Idade'] = pd.to_numeric(df['Idade'], errors='coerce').astype('Int64')
df['Código Profissão'] = pd.to_numeric(df['Código Profissão'], errors='coerce').astype('Int64')
df['Código da Morfologia'] = pd.to_numeric(df['Código da Morfologia'], errors='coerce').astype('Int64')

In [7]:
df.head(5)

,Nome do RCBP,Sexo,Data de Nascimento,Idade,Raca/Cor,Nacionalidade,Naturalidade Estado,Naturalidade,Grau de Instrução,Estado Civil,...,Lateralidade,Estadiamento,TNM,Status Vital,Tipo do Obito,Data do Óbito,Data de Último Contato,Data de Diagnostico,Metástase à distância,Unnamed: 37
Código do Paciente,,,,,,,,,,,,,,,,,,,,,
NaN,RCBP GOIÂNIA,FEMININO,1943-11-03,68,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,1943-11-03,1943-11-03,1943-11-03,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1966-10-04,46,SEM INFORMAÇÃO,NaN,NaN,NaN,SEM INFORMAÇÃO,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,1966-10-04,1966-10-04,1966-10-04,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1924-05-05,88,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,CASADO,...,NaN,NaN,NaN,NaN,NaN,1924-05-05,1924-05-05,1924-05-05,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1947-10-03,65,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,CASADO,...,NaN,NaN,NaN,NaN,NaN,1947-10-03,1947-10-03,1947-10-03,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1948-01-30,63,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,1948-01-30,1948-01-30,1948-01-30,NaN,NaN

In [3]:
print(df['Data de Diagnostico'].count())

813776

In [4]:
print(df['Data de Nascimento'].count())

473151

In [13]:
df.head()

,Nome do RCBP,Sexo,Data de Nascimento,Idade,Raca/Cor,Nacionalidade,Naturalidade Estado,Naturalidade,Grau de Instrução,Estado Civil,...,Lateralidade,Estadiamento,TNM,Status Vital,Tipo do Obito,Data do Óbito,Data de Último Contato,Data de Diagnostico,Metástase à distância,Unnamed: 37
Código do Paciente,,,,,,,,,,,,,,,,,,,,,
NaN,RCBP GOIÂNIA,FEMININO,1943-03-11,68.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,1943-03-11,1943-03-11,1943-03-11,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1966-04-10,46.0,SEM INFORMAÇÃO,NaN,NaN,NaN,SEM INFORMAÇÃO,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,1966-04-10,1966-04-10,1966-04-10,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1924-05-05,88.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,CASADO,...,NaN,NaN,NaN,NaN,NaN,1924-05-05,1924-05-05,1924-05-05,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1947-03-10,65.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,CASADO,...,NaN,NaN,NaN,NaN,NaN,1947-03-10,1947-03-10,1947-03-10,NaN,NaN
NaN,RCBP GOIÂNIA,FEMININO,1948-01-30,63.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,1948-01-30,1948-01-30,1948-01-30,NaN,NaN

In [2]:
ultimos_4_diagnostico = df['Data de Diagnostico'].str[-4:]
ultimos_4_nascimento = df['Data de Nascimento'].str[-4:]

# Lidar com valores ausentes (NaN)
ultimos_4_diagnostico = ultimos_4_diagnostico.fillna('')
ultimos_4_nascimento = ultimos_4_nascimento.fillna('')

# Calcular a diferença e converter para inteiros
diferenca_idade_calculada = (pd.to_numeric(ultimos_4_diagnostico, errors='coerce') -
                             pd.to_numeric(ultimos_4_nascimento, errors='coerce')).astype('Int64')

# Verificar se a diferença calculada é igual à coluna 'Idade'
df['Verificação'] = (diferenca_idade_calculada == df['Idade']) | ((diferenca_idade_calculada - 1) == df['Idade'])

In [3]:
df['Verificação'].value_counts()

True     473150
False         1
Name: Verificação, dtype: Int64

In [4]:
df.loc[df['Verificação'] == False]

,Nome do RCBP,Sexo,Data de Nascimento,Idade,Raca/Cor,Nacionalidade,Naturalidade Estado,Naturalidade,Grau de Instrução,Estado Civil,...,Estadiamento,TNM,Status Vital,Tipo do Obito,Data do Óbito,Data de Último Contato,Data de Diagnostico,Metástase à distância,Unnamed: 37,Verificação
Código do Paciente,,,,,,,,,,,,,,,,,,,,,
1320310.0,RCBP FORTALEZA,MASCULINO,03/07/1061,NaN,SEM INFORMAÇÃO,BRASIL,Não informado,Não Informado,SEM INFORMAÇÃO,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,NaN,03/05/2010,NaN,NaN,False