In [1]:
import pandas as pd

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [110]:
path = "../data/parquet/dataSetFinalTratadoTop5Diseases.parquet"

df = pd.read_parquet(path)

In [32]:
df.shape

(2273105, 38)

In [38]:
df.head()

,Nome do RCBP,Sexo,Data de Nascimento,Idade,Raca/Cor,Nacionalidade,Naturalidade Estado,Naturalidade,Grau de Instrução,Estado Civil,Código Profissão,Nome Profissão,Estado Endereço,Cidade Endereço,Descrição da Topografia,Código da Topografia,Descrição da Morfologia,Código da Morfologia,Descrição da Doenca,Código da Doenca,Descrição da Doenca Infantil,Código da Doenca Infantil,Descrição da Doenca Adulto Jovem,Código da Doenca Adulto Jovem,Indicador de Caso Raro,Meio de Diagnostico,Extensão,Lateralidade,Estadiamento,TNM,Status Vital,Tipo do Obito,Data do Óbito,Data de Último Contato,Data de Diagnostico,Metástase à distância,Regiao,categoria_doenca
0,RCBP CAMPINAS-UNICAMP,MASCULINO,16/03/1975,30,BRANCO,BRASIL,SÃO PAULO,None,SEM INFORMAÇÃO,CASADO,516.0,TRABALHADORES NOS SERVIÇOS DE EMBELEZAMENTO E ...,SÃO PAULO,CAMPINAS,"RETO, SOE",C209,NEOPLASIA MALIGNA,80003.0,RETO,C20,None,None,None,None,False,SDO,METÁSTASE,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,2005-10-07,2005-10-07,2005-10-07,None,SUDESTE,Outros
1,RCBP CAMPINAS-UNICAMP,FEMININO,24/05/1950,53,SEM INFORMAÇÃO,Não informado,Não informado,Não Informado,SEM INFORMAÇÃO,SEM INFORMAÇÃO,0.0,SEM INFORMAÇÃO\t,SÃO PAULO,CAMPINAS,COLON DESCENDENTE,C186,ADENOCARCINOMA TUBULAR,82113.0,COLON DESCENDENTE,C186,None,None,None,None,False,HISTOLOGIA DO TUMOR PRIMÁRIO,SEM INFORMAÇÃO,SEM INFORMAÇÃO,99,999,MORTO,SEM INFORMAÇÃO,2007-01-30,2007-01-30,2003-07-18,None,SUDESTE,Outros
2,RCBP CAMPINAS-UNICAMP,FEMININO,02/09/1951,51,PARDA,BRASIL,SÃO PAULO,None,SEM INFORMAÇÃO,SOLTEIRO,0.0,SEM INFORMAÇÃO\t,SÃO PAULO,CAMPINAS,"MAMA , SOE",C509,CARCINOMA DUCTAL INFILTRANTE,85003.0,"MAMA , SOE",C509,None,None,None,None,False,HISTOLOGIA DO TUMOR PRIMÁRIO,SEM INFORMAÇÃO,SEM INFORMAÇÃO,99,999,MORTO,CÂNCER,2005-07-03,2005-07-03,2003-05-16,None,SUDESTE,Câncer de Mama
3,RCBP CAMPINAS-UNICAMP,FEMININO,21/11/1929,73,SEM INFORMAÇÃO,Não informado,Não informado,Não Informado,SEM INFORMAÇÃO,SEM INFORMAÇÃO,0.0,SEM INFORMAÇÃO\t,SÃO PAULO,CAMPINAS,PELE DO MEMBRO SUPERIOR E DO OMBRO,C446,"CARCINOMA DE CELULAS ESCAMOSAS, SOE",80703.0,PELE DO MEMBRO SUPERIOR E DO OMBRO,C446,None,None,None,None,False,HISTOLOGIA DO TUMOR PRIMÁRIO,SEM INFORMAÇÃO,SEM INFORMAÇÃO,99,999,VIVO,None,NaT,2010-07-28,2003-04-01,None,SUDESTE,Câncer de Pele
4,RCBP CAMPINAS-UNICAMP,MASCULINO,03/07/1934,71,BRANCO,BRASIL,SÃO PAULO,None,SEM INFORMAÇÃO,SOLTEIRO,0.0,SEM INFORMAÇÃO\t,SÃO PAULO,CAMPINAS,"LOCALIZACAO PRIMARIA DESCONHECIDA, SOE",C809,NEOPLASIA MALIGNA,80003.0,LOCALIZACAO PRIMARIA DESCONHECIDA,C80,None,None,None,None,False,SDO,SEM INFORMAÇÃO,SEM INFORMAÇÃO,99 - SEM INFORMAÇÃO,999,MORTO,CÂNCER,2005-10-21,2005-10-21,2005-10-21,None,SUDESTE,Outros

### Modelagem das séries de regiões

In [111]:
df_regioes = df[['Data de Diagnostico', 'Regiao', 'categoria_doenca']]
df_regioes['y'] = 1

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2520\899817195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regioes['y'] = 1

In [40]:
df_regioes.shape

(2273105, 4)

In [41]:
df_regioes.head()

  Data de Diagnostico   Regiao categoria_doenca  y
0          2005-10-07  SUDESTE           Outros  1
1          2003-07-18  SUDESTE           Outros  1
2          2003-05-16  SUDESTE   Câncer de Mama  1
3          2003-04-01  SUDESTE   Câncer de Pele  1
4          2005-10-21  SUDESTE           Outros  1

In [42]:
df_regioes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2273105 entries, 0 to 2273104
Data columns (total 4 columns):
 #   Column               Dtype
---  ------               -----
 0   Data de Diagnostico  datetime64[ns]
 1   Regiao               object
 2   categoria_doenca     object
 3   y                    int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 86.7+ MB

In [43]:
df_regioes.isna().sum()

Data de Diagnostico    88996
Regiao                     0
categoria_doenca           0
y                          0
dtype: int64

In [112]:
df_regioes.dropna(inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2520\2300192166.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regioes.dropna(inplace=True)

In [113]:
df_regioes['year_month'] = df_regioes['Data de Diagnostico'].dt.to_period('M')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2520\2337041449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regioes['year_month'] = df_regioes['Data de Diagnostico'].dt.to_period('M')

In [51]:
df_regioes.head()

  Data de Diagnostico   Regiao categoria_doenca  y year_month
0          2005-10-07  SUDESTE           Outros  1    2005-10
1          2003-07-18  SUDESTE           Outros  1    2003-07
2          2003-05-16  SUDESTE   Câncer de Mama  1    2003-05
3          2003-04-01  SUDESTE   Câncer de Pele  1    2003-04
4          2005-10-21  SUDESTE           Outros  1    2005-10

In [114]:
df_grouped = df_regioes.groupby(['year_month', 'Regiao', 'categoria_doenca'])['y'].sum().reset_index()

In [179]:
df_grouped.head()

  year_month    Regiao         categoria_doenca   y
0    1990-01  NORDESTE  Câncer de Colo do Útero  20
1    1990-01  NORDESTE           Câncer de Mama  19
2    1990-01  NORDESTE           Câncer de Pele  33
3    1990-01  NORDESTE       Câncer de Próstata   8
4    1990-01  NORDESTE         Câncer de Pulmão   5

#### Por estado

In [135]:
df_nordeste = df_grouped[df_grouped['Regiao'] == 'NORDESTE'].drop('categoria_doenca', axis=1).groupby('year_month')['y'].sum().reset_index()
df_sudeste = df_grouped[df_grouped['Regiao'] == 'SUDESTE'].drop('categoria_doenca', axis=1).groupby('year_month')['y'].sum().reset_index()
df_norte = df_grouped[df_grouped['Regiao'] == 'NORTE'].drop('categoria_doenca', axis=1).groupby('year_month')['y'].sum().reset_index()
df_centro_oeste = df_grouped[df_grouped['Regiao'] == 'CENTRO-OESTE'].drop('categoria_doenca', axis=1).groupby('year_month')['y'].sum().reset_index()
df_sul = df_grouped[df_grouped['Regiao'] == 'SUL'].drop('categoria_doenca', axis=1).groupby('year_month')['y'].sum().reset_index()

In [136]:
def verificar_periodo_completo(dataframe, coluna):
    data_mais_antiga = dataframe[coluna].min()
    data_mais_recente = dataframe[coluna].max()
    
    intervalo_completo = pd.period_range(start=data_mais_antiga, end=data_mais_recente, freq='M')
    
    todas_datas_presentes = all(data in dataframe[coluna].values for data in intervalo_completo)
    
    return data_mais_antiga, data_mais_recente, todas_datas_presentes

In [137]:
dfs = [df_nordeste, df_sudeste, df_norte, df_centro_oeste, df_sul]

for df in dfs:
    data_mais_antiga, data_mais_recente, todas_datas_presentes = verificar_periodo_completo(df, 'year_month')
    print(f"Data mais antiga: {data_mais_antiga}, Data mais recente: {data_mais_recente}, Todas as datas presentes: {todas_datas_presentes}")

Data mais antiga: 1990-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1991-01, Data mais recente: 2020-12, Todas as datas presentes: True
Data mais antiga: 1996-01, Data mais recente: 2019-12, Todas as datas presentes: True
Data mais antiga: 1999-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1993-01, Data mais recente: 2018-12, Todas as datas presentes: True

In [138]:
def recortar_dataframe(dataframe, coluna, data_inicio, data_fim):
    data_inicio = pd.Period(data_inicio, freq='M')
    data_fim = pd.Period(data_fim, freq='M')
    
    dataframe_recortado = dataframe[(dataframe[coluna] >= data_inicio) & (dataframe[coluna] <= data_fim)]
    
    return dataframe_recortado

In [139]:
df_nordeste = recortar_dataframe(df_nordeste, 'year_month', '1999-01', '2018-12')
df_sudeste = recortar_dataframe(df_sudeste, 'year_month', '1999-01', '2018-12')
df_norte = recortar_dataframe(df_norte, 'year_month', '1999-01', '2018-12')
df_centro_oeste = recortar_dataframe(df_centro_oeste, 'year_month', '1999-01', '2018-12')
df_sul = recortar_dataframe(df_sul, 'year_month', '1999-01', '2018-12')

In [140]:
df_nordeste['unique_id'] = 'NORDESTE'
df_sudeste['unique_id'] = 'SUDESTE'
df_norte['unique_id'] = 'NORTE'
df_centro_oeste['unique_id'] = 'CENTRO-OESTE'
df_sul['unique_id'] = 'SUL'

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2520\3163250056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nordeste['unique_id'] = 'NORDESTE'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2520\3163250056.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sudeste['unique_id'] = 'SUDESTE'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2520\3163250056.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_norte['unique_id'] = 'NORTE'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2520\3163250056.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sul['unique_id'] = 'SUL'

In [152]:
def concatenar_datasets(*dataframes):
    dataframe_concatenado = pd.concat(dataframes, ignore_index=True)
    return dataframe_concatenado

serie_regiao = concatenar_datasets(df_nordeste, df_sudeste, df_norte, df_centro_oeste, df_sul)

In [154]:
serie_regiao.head()

  year_month     y unique_id
0    1999-01  1323  NORDESTE
1    1999-02  1148  NORDESTE
2    1999-03  1616  NORDESTE
3    1999-04  1332  NORDESTE
4    1999-05  1648  NORDESTE

#### Por estado e doença

In [187]:
df_nordeste = df_grouped[df_grouped['Regiao'] == 'NORDESTE']
df_sudeste = df_grouped[df_grouped['Regiao'] == 'SUDESTE']
df_norte = df_grouped[df_grouped['Regiao'] == 'NORTE']
df_centro_oeste = df_grouped[df_grouped['Regiao'] == 'CENTRO-OESTE']
df_sul = df_grouped[df_grouped['Regiao'] == 'SUL']

In [188]:
df_nordeste.head(7)

  year_month    Regiao         categoria_doenca   y
0    1990-01  NORDESTE  Câncer de Colo do Útero  20
1    1990-01  NORDESTE           Câncer de Mama  19
2    1990-01  NORDESTE           Câncer de Pele  33
3    1990-01  NORDESTE       Câncer de Próstata   8
4    1990-01  NORDESTE         Câncer de Pulmão   5
5    1990-01  NORDESTE                   Outros  67
6    1990-02  NORDESTE  Câncer de Colo do Útero  18

##### Nordeste

In [189]:
df_nordeste_mama = df_nordeste[df_nordeste['categoria_doenca'] == 'Câncer de Mama']
df_nordeste_prostata = df_nordeste[df_nordeste['categoria_doenca'] == 'Câncer de Próstata']
df_nordeste_utero = df_nordeste[df_nordeste['categoria_doenca'] == 'Câncer de Colo do Útero']
df_nordeste_pele = df_nordeste[df_nordeste['categoria_doenca'] == 'Câncer de Pele']
df_nordeste_pulmao = df_nordeste[df_nordeste['categoria_doenca'] == 'Câncer de Pulmão']
df_nordeste_outros = df_nordeste[df_nordeste['categoria_doenca'] == 'Outros']

In [190]:
df_nordeste_mama.head()

   year_month    Regiao categoria_doenca   y
1     1990-01  NORDESTE   Câncer de Mama  19
7     1990-02  NORDESTE   Câncer de Mama  14
13    1990-03  NORDESTE   Câncer de Mama  24
19    1990-04  NORDESTE   Câncer de Mama  24
25    1990-05  NORDESTE   Câncer de Mama  27

In [191]:
dfs_nordeste = [df_nordeste_mama, df_nordeste_prostata, df_nordeste_utero, df_nordeste_pele, df_nordeste_pulmao, df_nordeste_outros]

for df in dfs_nordeste:
    data_mais_antiga, data_mais_recente, todas_datas_presentes = verificar_periodo_completo(df, 'year_month')
    print(f"Data mais antiga: {data_mais_antiga}, Data mais recente: {data_mais_recente}, Todas as datas presentes: {todas_datas_presentes}")

Data mais antiga: 1990-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1990-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1990-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1990-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1990-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1990-01, Data mais recente: 2018-12, Todas as datas presentes: True

In [192]:
df_nordeste_mama = df_nordeste_mama.drop('Regiao', axis=1)
df_nordeste_prostata = df_nordeste_prostata.drop('Regiao', axis=1)
df_nordeste_utero = df_nordeste_utero.drop('Regiao', axis=1)
df_nordeste_pele = df_nordeste_pele.drop('Regiao', axis=1)
df_nordeste_pulmao = df_nordeste_pulmao.drop('Regiao', axis=1)
df_nordeste_outros = df_nordeste_outros.drop('Regiao', axis=1)

In [198]:
df_nordeste_outros.head()

   year_month categoria_doenca   y
5     1990-01           Outros  67
11    1990-02           Outros  87
17    1990-03           Outros  96
23    1990-04           Outros  77
29    1990-05           Outros  79

In [199]:
serie_nordeste = concatenar_datasets(df_nordeste_mama, df_nordeste_prostata, df_nordeste_utero, df_nordeste_pele, df_nordeste_pulmao, df_nordeste_outros)

In [200]:
serie_nordeste.head()

  year_month categoria_doenca   y
0    1990-01   Câncer de Mama  19
1    1990-02   Câncer de Mama  14
2    1990-03   Câncer de Mama  24
3    1990-04   Câncer de Mama  24
4    1990-05   Câncer de Mama  27

##### Sudeste

In [204]:
df_sudeste_mama = df_sudeste[df_sudeste['categoria_doenca'] == 'Câncer de Mama']
df_sudeste_prostata = df_sudeste[df_sudeste['categoria_doenca'] == 'Câncer de Próstata']
df_sudeste_utero = df_sudeste[df_sudeste['categoria_doenca'] == 'Câncer de Colo do Útero']
df_sudeste_pele = df_sudeste[df_sudeste['categoria_doenca'] == 'Câncer de Pele']
df_sudeste_pulmao = df_sudeste[df_sudeste['categoria_doenca'] == 'Câncer de Pulmão']
df_sudeste_outros = df_sudeste[df_sudeste['categoria_doenca'] == 'Outros']

In [205]:
df_sudeste_mama.head()

    year_month   Regiao categoria_doenca   y
79     1991-01  SUDESTE   Câncer de Mama  20
91     1991-02  SUDESTE   Câncer de Mama  13
103    1991-03  SUDESTE   Câncer de Mama  12
115    1991-04  SUDESTE   Câncer de Mama  14
127    1991-05  SUDESTE   Câncer de Mama  27

In [206]:
dfs_sudeste = [df_sudeste_mama, df_sudeste_prostata, df_sudeste_utero, df_sudeste_pele, df_sudeste_pulmao, df_sudeste_outros]

for df in dfs_sudeste:
    data_mais_antiga, data_mais_recente, todas_datas_presentes = verificar_periodo_completo(df, 'year_month')
    print(f"Data mais antiga: {data_mais_antiga}, Data mais recente: {data_mais_recente}, Todas as datas presentes: {todas_datas_presentes}")

Data mais antiga: 1991-01, Data mais recente: 2020-12, Todas as datas presentes: True
Data mais antiga: 1991-01, Data mais recente: 2020-12, Todas as datas presentes: False
Data mais antiga: 1991-01, Data mais recente: 2020-12, Todas as datas presentes: False
Data mais antiga: 1991-01, Data mais recente: 2020-12, Todas as datas presentes: False
Data mais antiga: 1991-01, Data mais recente: 2020-08, Todas as datas presentes: False
Data mais antiga: 1991-01, Data mais recente: 2020-12, Todas as datas presentes: True

##### Centro-oeste

In [66]:
df_centro_oeste_mama = df_centro_oeste[df_centro_oeste['categoria_doenca'] == 'Câncer de Mama']
df_centro_oeste_prostata = df_centro_oeste[df_centro_oeste['categoria_doenca'] == 'Câncer de Próstata']
df_centro_oeste_utero = df_centro_oeste[df_centro_oeste['categoria_doenca'] == 'Câncer de Colo do Útero']
df_centro_oeste_pele = df_centro_oeste[df_centro_oeste['categoria_doenca'] == 'Câncer de Pele']
df_centro_oeste_pulmao = df_centro_oeste[df_centro_oeste['categoria_doenca'] == 'Câncer de Pulmão']
df_centro_oeste_outros = df_centro_oeste[df_centro_oeste['categoria_doenca'] == 'Outros']

In [207]:
df_centro_oeste_mama.head()

     year_month        Regiao categoria_doenca   y
1864    1999-01  CENTRO-OESTE   Câncer de Mama  47
1894    1999-02  CENTRO-OESTE   Câncer de Mama  31
1924    1999-03  CENTRO-OESTE   Câncer de Mama  41
1954    1999-04  CENTRO-OESTE   Câncer de Mama  55
1984    1999-05  CENTRO-OESTE   Câncer de Mama  55

In [208]:
dfs_centro_oeste = [df_centro_oeste_mama, df_centro_oeste_prostata, df_centro_oeste_utero, df_centro_oeste_pele, df_centro_oeste_pulmao, df_centro_oeste_outros]

for df in dfs_centro_oeste:
    data_mais_antiga, data_mais_recente, todas_datas_presentes = verificar_periodo_completo(df, 'year_month')
    print(f"Data mais antiga: {data_mais_antiga}, Data mais recente: {data_mais_recente}, Todas as datas presentes: {todas_datas_presentes}")

Data mais antiga: 1999-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1999-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1999-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1999-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1999-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1999-01, Data mais recente: 2018-12, Todas as datas presentes: True

In [209]:
df_centro_oeste_mama = df_centro_oeste_mama.drop('Regiao', axis=1)
df_centro_oeste_prostata = df_centro_oeste_prostata.drop('Regiao', axis=1)
df_centro_oeste_utero = df_centro_oeste_utero.drop('Regiao', axis=1)
df_centro_oeste_pele = df_centro_oeste_pele.drop('Regiao', axis=1)
df_centro_oeste_pulmao = df_centro_oeste_pulmao.drop('Regiao', axis=1)
df_centro_oeste_outros = df_centro_oeste_outros.drop('Regiao', axis=1)

In [215]:
df_centro_oeste_outros.head()

     year_month categoria_doenca    y
1868    1999-01           Outros  363
1898    1999-02           Outros  160
1928    1999-03           Outros  229
1958    1999-04           Outros  179
1988    1999-05           Outros  207

In [216]:
serie_centro_oeste = concatenar_datasets(df_centro_oeste_mama, df_centro_oeste_prostata, df_centro_oeste_utero, df_centro_oeste_pele, df_centro_oeste_pulmao, df_centro_oeste_outros)

In [217]:
serie_centro_oeste.head()

  year_month categoria_doenca   y
0    1999-01   Câncer de Mama  47
1    1999-02   Câncer de Mama  31
2    1999-03   Câncer de Mama  41
3    1999-04   Câncer de Mama  55
4    1999-05   Câncer de Mama  55

##### Sul

In [218]:
df_sul_mama = df_sul[df_sul['categoria_doenca'] == 'Câncer de Mama']
df_sul_prostata = df_sul[df_sul['categoria_doenca'] == 'Câncer de Próstata']
df_sul_utero = df_sul[df_sul['categoria_doenca'] == 'Câncer de Colo do Útero']
df_sul_pele = df_sul[df_sul['categoria_doenca'] == 'Câncer de Pele']
df_sul_pulmao = df_sul[df_sul['categoria_doenca'] == 'Câncer de Pulmão']
df_sul_outros = df_sul[df_sul['categoria_doenca'] == 'Outros']

In [219]:
df_sul_mama.head()

    year_month Regiao categoria_doenca   y
372    1993-01    SUL   Câncer de Mama  27
390    1993-02    SUL   Câncer de Mama  28
408    1993-03    SUL   Câncer de Mama  45
426    1993-04    SUL   Câncer de Mama  41
444    1993-05    SUL   Câncer de Mama  39

In [220]:
dfs_sul = [df_sul_mama, df_sul_prostata, df_sul_utero, df_sul_pele, df_sul_pulmao, df_sul_outros]

for df in dfs_sul:
    data_mais_antiga, data_mais_recente, todas_datas_presentes = verificar_periodo_completo(df, 'year_month')
    print(f"Data mais antiga: {data_mais_antiga}, Data mais recente: {data_mais_recente}, Todas as datas presentes: {todas_datas_presentes}")

Data mais antiga: 1993-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1993-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1993-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1993-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1993-01, Data mais recente: 2018-12, Todas as datas presentes: True
Data mais antiga: 1993-01, Data mais recente: 2018-12, Todas as datas presentes: True

In [221]:
df_sul_mama = df_sul_mama.drop('Regiao', axis=1)
df_sul_prostata = df_sul_prostata.drop('Regiao', axis=1)
df_sul_utero = df_sul_utero.drop('Regiao', axis=1)
df_sul_pele = df_sul_pele.drop('Regiao', axis=1)
df_sul_pulmao = df_sul_pulmao.drop('Regiao', axis=1)
df_sul_outros = df_sul_outros.drop('Regiao', axis=1)

In [227]:
df_sul_outros.head()

    year_month categoria_doenca    y
376    1993-01           Outros  194
394    1993-02           Outros  105
412    1993-03           Outros  152
430    1993-04           Outros  138
448    1993-05           Outros  152

In [228]:
serie_sul = concatenar_datasets(df_sul_mama, df_sul_prostata, df_sul_utero, df_sul_pele, df_sul_pulmao, df_sul_outros)

In [229]:
serie_sul.head()

  year_month categoria_doenca   y
0    1993-01   Câncer de Mama  27
1    1993-02   Câncer de Mama  28
2    1993-03   Câncer de Mama  45
3    1993-04   Câncer de Mama  41
4    1993-05   Câncer de Mama  39

##### Norte

In [230]:
df_norte_mama = df_norte[df_norte['categoria_doenca'] == 'Câncer de Mama']
df_norte_prostata = df_norte[df_norte['categoria_doenca'] == 'Câncer de Próstata']
df_norte_utero = df_norte[df_norte['categoria_doenca'] == 'Câncer de Colo do Útero']
df_norte_pele = df_norte[df_norte['categoria_doenca'] == 'Câncer de Pele']
df_norte_pulmao = df_norte[df_norte['categoria_doenca'] == 'Câncer de Pulmão']
df_norte_outros = df_norte[df_norte['categoria_doenca'] == 'Outros']

In [231]:
df_norte_mama.head()

     year_month Regiao categoria_doenca   y
1006    1996-01  NORTE   Câncer de Mama   9
1030    1996-02  NORTE   Câncer de Mama  11
1054    1996-03  NORTE   Câncer de Mama  17
1078    1996-04  NORTE   Câncer de Mama  14
1102    1996-05  NORTE   Câncer de Mama   6

In [232]:
dfs_norte = [df_norte_mama, df_norte_prostata, df_norte_utero, df_norte_pele, df_norte_pulmao, df_norte_outros]

for df in dfs_norte:
    data_mais_antiga, data_mais_recente, todas_datas_presentes = verificar_periodo_completo(df, 'year_month')
    print(f"Data mais antiga: {data_mais_antiga}, Data mais recente: {data_mais_recente}, Todas as datas presentes: {todas_datas_presentes}")

Data mais antiga: 1996-01, Data mais recente: 2019-12, Todas as datas presentes: True
Data mais antiga: 1996-01, Data mais recente: 2019-12, Todas as datas presentes: True
Data mais antiga: 1996-01, Data mais recente: 2019-12, Todas as datas presentes: True
Data mais antiga: 1996-01, Data mais recente: 2019-12, Todas as datas presentes: True
Data mais antiga: 1996-01, Data mais recente: 2019-12, Todas as datas presentes: True
Data mais antiga: 1996-01, Data mais recente: 2019-12, Todas as datas presentes: True

In [233]:
df_norte_mama = df_norte_mama.drop('Regiao', axis=1)
df_norte_prostata = df_norte_prostata.drop('Regiao', axis=1)
df_norte_utero = df_norte_utero.drop('Regiao', axis=1)
df_norte_pele = df_norte_pele.drop('Regiao', axis=1)
df_norte_pulmao = df_norte_pulmao.drop('Regiao', axis=1)
df_norte_outros = df_norte_outros.drop('Regiao', axis=1)

In [239]:
df_norte_outros.head()

     year_month categoria_doenca   y
1010    1996-01           Outros  87
1034    1996-02           Outros  70
1058    1996-03           Outros  83
1082    1996-04           Outros  79
1106    1996-05           Outros  65

In [240]:
serie_norte = concatenar_datasets(df_norte_mama, df_norte_prostata, df_norte_utero, df_norte_pele, df_norte_pulmao, df_norte_outros)

In [241]:
serie_norte.head()

  year_month categoria_doenca   y
0    1996-01   Câncer de Mama   9
1    1996-02   Câncer de Mama  11
2    1996-03   Câncer de Mama  17
3    1996-04   Câncer de Mama  14
4    1996-05   Câncer de Mama   6